// Fonts
$font-main: "Raleway", sans-serif;

// Color
$white: #fff;
$black: #0D0D0D;
$orange: #FF8E26;
$purple: #6A5ACD;
$dark: #1A1A1A;
$dark-gray: #171717;
$border: #292929;
$light-gray: #737373;
$light-green: #80ff80;
$medium-green: #3DA55A;
$green: #286F3C;
$blue: #0f93ff;
$light-red: #FB5050;
$red: #ff3333;
$dark-red: #762626;

// Breakpoints
$mobile-small: 450px;
$mobile: 768px;
$tablet: 1024px;
$laptop: 1440px;
$laptop-small: 1300px;
$desktop: 1600px;

// Other
$transition-default: 0.3s;